<h1>Taco Generator</h1>

<form action="your-taco" method="Post">
    <label for="proteins">Number of Proteins</label>
    <br>
    <select name='proteins'>
        <option value=1>1 protein</option>
        <option value=2>2 proteins</option>
        <option value=3>3 proteins</option>
        <option value=4>4 proteins</option>
    </select>
    <select name='veggies'>
        <option value=1>1 veggie</option>
        <option value=2>2 veggies</option>
        <option value=3>3 veggies</option>
        <option value=4>4 veggies</option>
    </select>
    <select name='dairy'>
        <option value=1>1 dairy item</option>
        <option value=2>2 dairy items</option>
        <option value=3>3 dairy items</option>
    </select>
    <br><br>
    <input type="submit" value="Get Ingredients">
</form>
